<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create" class="active">Create User</a>
      </div>

      <div class="form">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Form add new user</legend>
                <div class="input-group">
                    <label for="">Email</label>
                    <input name="email" type="text">
                </div>
    
                <div class="input-group">
                    <label for="">Name</label>
                    <input type="text" name="myName">
                </div>
    
                <div class="input-group">
                    <label for="">City</label>
                    <input type="text" name="city">
                </div>
                <div>
                    <button> Save</button>
                </div>
            </fieldset>
        </form>
        

      </div>
</body>
</html>